Repository rasterio/rasterio, pull requests merged in 2018-04, with the labels that each got.

#1318 Warn about deprecation of usage in read_masks
  CHANGES.txt
  rasterio/_io.pyx
  tests/test_complex_dtypes.py
  tests/test_gdal_raster_io.py
Labels: API-change

#1321 No more bytearray input for MemoryFile
  rasterio/_io.pyx
  tests/test_memoryfile.py
Labels: bug

#1307 Pass precision to from_bounds in merge
  rasterio/merge.py
Labels: bug

#1322 Tools module, class, and tests
  CHANGES.txt
  rasterio/features.py
  rasterio/tools.py
  tests/test_tools.py
Labels: API-change, enhancement
